tr > * + * {
    padding-left: 4rem;
  }
.table-bordered th , .table-bordered td {
    border: 1px solid black;
}

.component {
    display: flex;
    align-items: center;
    text-align: center;

}

label {
    font-size: 2rem;
    font-weight: bold;
}

.temp {
    margin-left: 20px;
}

.bor {
    border: 1px solid red;
}

.header {
    font-size: 3rem;
}

.round {

    border-radius: 200px;
    background-color: red;
    color: white;
    width: 100px;
    height: 100px;
    margin-top: 10px;

}

.round-1 {

    border-radius: 200px;
    background-color: grey;
    color: white;
    width: 130px;
    height: 130px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;

}

.round-2 {

    border-radius: 200px;
    background-color: blue;
    color: white;
    width: 100px;
    height: 100px;
    margin-top: 10px;

}

.table-cell {
    border-radius: 1px solid black;

}


.span {
    color: rgb(255, 0, 0);
}